.logo-img{
  width: 50%;
  float: right;
  margin-right: 15px;
}

.progress-bar-controller{
  width: 20%;
}

body{
  background: rgb(125,191,122);
  background: -moz-radial-gradient(circle, rgba(125,191,122,1) 0%, rgba(127,198,219,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(125,191,122,1) 0%, rgba(127,198,219,1) 100%);
  background: radial-gradient(circle, rgba(125,191,122,1) 0%, rgba(127,198,219,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dbf7a",endColorstr="#7fc6db",GradientType=1);
}

.circle-display{
  background: rgba(0, 0, 0, 0)
}

video{
  box-shadow: 0 0 50px #000
}
